=breadcrumbs [], "Articles"
.row
  .span13
    -if @articles.length > 0
      %table.zebra-striped
        %tr
          %th Title
          %th Summary
          %th{:width => "250px"}

        - @articles.each do |article|
          %tr
            %td= article.title
            %td= article.summary
            %td
              = link_to 'Edit', article, :class => "btn"
              = link_to 'Edit summary', edit_article_path(article), :class => "btn"
              = link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete, :class => "btn danger"
  .span3
    = link_to 'New Article', new_article_path, :class => "btn primary large"
  