=breadcrumbs [], "Articles"
.row
  .span10
    -if @articles.length > 0
      %table.table.table-striped.table-bordered
        %tr
          %th Title
          %th Summary
          %th{:width => "250px"}

        - @articles.each do |article|
          %tr
            %td= article.title
            %td= article.summary
            %td
              = link_to 'Edit', article, :class => "btn"
              = link_to 'Edit summary', edit_article_path(article), :class => "btn"
              = link_to '<i class="icon-trash icon-white"></i>'.html_safe, article, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"
  .span2
    = link_to 'New Article', new_article_path, :class => "btn btn-primary btn-large"
  