=breadcrumbs [["Articles", articles_path]], "#{@article.title}"
#article.row
  .span4
    %h1= @article.title
    %p
      = image_tag @article.image.url(:medium)
    %p
      %b Summary:
      = @article.summary
    %p
      %b Author:
      = @article.author
    %p
      %b Publish date:
      -if @article.publish_at
        = l @article.publish_at, :format => :long
    %p
      -if @article.visible
        = link_to 'Hide article', toggle_visibility_article_path(@article), :class => "btn btn-inverse btn-large", :method => :post
      -else
        = link_to 'Publish', toggle_visibility_article_path(@article), :class => "btn btn-success btn-large", :confirm => 'Are you sure?', :method => :post
    %p
      = link_to 'Edit metadata', edit_article_path(@article), :class => :btn
      = link_to 'Back', articles_path, :class => :btn
  .span6
    %h2 Blocks
    -if @article.blocks.length > 0
      %table.table.table-striped.table-bordered
        %tr
          %th Type
          %th Data
          %th{:width => "120px"}

        - @article.blocks.each do |block|
          %tr
            %td= block.block_type.capitalize
            -if block.block_type == "text"
              %td #{block.data[0..100]}…
            - elsif block.block_type == "image"
              %td
                %ul
                  -for image in block.images
                    %li=image_tag image.image(:thumb), alt: image.description
            - else
              %td
            %td
              /= link_to "#{icon('eye-open')} Show".html_safe, [@article, block], :class => :btn
              = link_to "#{icon('edit')} Edit".html_safe, edit_article_block_path(@article, block), :class => :btn
              = link_to '<i class="icon-trash icon-white"></i>'.html_safe, [@article, block], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"
  .span2
    %h2 Add a block
    %p
      = link_to 'Text', new_article_block_path(@article), :class => "btn"
      = link_to 'Image', new_article_block_path(@article, :type => :image), :class => "btn"
      = link_to 'Video', new_article_block_path(@article, :type => :video), :class => "btn"
