#article
  %p#notice= notice

  #new_block
    %h2 New Block
    %ul
      %li= link_to 'Text', new_article_block_path(@article)
      %li= link_to 'Image', new_article_block_path(@article, :type => :image)


  %p
    %b Title:
    = @article.title
  %p
    %b Summary:
    = @article.summary
  %p
    %b Image:
    = @article.image

  %table
    %tr
      %th Article
      %th Order
      %th Data
      %th Type
      %th
      %th
      %th

    - @article.blocks.each do |block|
      %tr
        %td= block.article_id
        %td= block.order
        %td= block.data
        %td= block.block_type
        %td= link_to 'Show', [@article, block]
        %td= link_to 'Edit', edit_article_block_path(@article, block)
        %td= link_to 'Destroy', [@article, block], :confirm => 'Are you sure?', :method => :delete

  %br


  = link_to 'Edit', edit_article_path(@article)
  \|
  = link_to 'Back', articles_path
