=breadcrumbs [["Articles", articles_path]], "#{@article.title}"
#article.row

  .span10
    %h1= @article.title
    %p
      = image_tag @article.image.url(:medium)
    %p
      %b Summary:
      = @article.summary
  
    -if @article.blocks.length > 0
      %table.table.table-striped.table-bordered
        %tr
          %th Type
          %th Data
          %th{:width => "200px"}

        - @article.blocks.each do |block|
          %tr
            %td= block.block_type.capitalize
            %td= block.data
            %td
              = link_to 'Show', [@article, block], :class => :btn
              = link_to "#{icon('edit')} Edit".html_safe, edit_article_block_path(@article, block), :class => :btn
              = link_to '<i class="icon-trash icon-white"></i>'.html_safe, [@article, block], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"

    = link_to 'Edit summary', edit_article_path(@article), :class => :btn
    = link_to 'Back', articles_path, :class => :btn
  .span2
    %h2 Add a block
    %p
      = link_to 'Text', new_article_block_path(@article), :class => "btn"
      = link_to 'Image', new_article_block_path(@article, :type => :image), :class => "btn"
