%h1 Listing users
.row
  .span4
    %table.table.table-striped.table-bordered
      %tr
        %th Login
        %th

      - @users.each do |user|
        %tr
          %td= link_to user.login, user
          %td
            = link_to "#{icon('edit')} Edit".html_safe, edit_user_path(user), :class => "btn"
            = link_to '<i class="icon-trash icon-white"></i>'.html_safe, user, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger"

  .span2= link_to "#{iconw('plus')} New User".html_safe, new_user_path, :class => "btn btn-primary btn-large"
