= form_for [@article, @block] do |f|
  -if @block.errors.any?
    #error_explanation
      %h2= "#{pluralize(@block.errors.count, "error")} prohibited this block from being saved:"
      %ul
        - @block.errors.full_messages.each do |msg|
          %li= msg
  .field.clearfix
    = f.label :data, 'Content'
    .input
      = f.text_area :data, :class => :span12, :rows => 15
  .actions
    = f.submit 'Save', :class => "btn primary"
    = link_to 'Back', article_path(@article), :class => :btn