=breadcrumbs [["Articles", articles_path], ["#{@article.title}", @article]], "Editing block"
-if @type == "image"
  = render 'image_form'
-if @type == "video"
  = render 'video_form'
-else
  = render 'form'

= link_to 'Show', [@article,@block]
\|
= link_to 'Back', @article
