%h1 Listing blocks

%table.table
  %tr
    %th Article
    %th Order
    %th Data
    %th Type
    %th
    %th
    %th

  - @blocks.each do |block|
    %tr
      %td= block.article_id
      %td= block.order
      %td= block.data
      %td= block.block_type
      %td= link_to 'Show', [@article, block]
      %td= link_to 'Edit', edit_article_block_path(@article, block)
      %td= link_to 'Destroy', [@article, block], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Block', new_article_block_path(@article)
