=breadcrumbs [["Articles", articles_path], ["#{@article.title}", @article]], "Block"
%p
  %b Data:
  = @block.data
%p
  %b Type:
  = @block.block_type

-if @block.block_type == "image"
  %ul.media-grid
    -for image in @block.images
      %li
        =link_to image_tag(image.image(:thumb)), article_block_image_path(@block.article_id, @block, image)
  %p
    =link_to "Add image", new_article_block_image_path(@article, @block), :class => "btn btn-primary btn-large"

= link_to 'Edit', edit_article_path(@article, @block), :class => :btn
= link_to 'Back', article_path(@article), :class => :btn
