%p#notice= notice

%p
  %b Article:
  = @block.article_id
%p
  %b Order:
  = @block.order
%p
  %b Data:
  = @block.data
%p
  %b Type:
  = @block.block_type

= link_to 'Edit', edit_articl_block_path([@article, @block])
\|
= link_to 'Back', blocks_path
