%p#notice= notice

%h1
  = @block.article.title
%p
  %b Data:
  = @block.data
%p
  %b Type:
  = @block.block_type

-if @block.block_type == "image"
  #images
    -for image in @block.images
      .image
        =link_to image_tag(image.image, size: "60x60"), edit_article_block_image_path(@block.article_id, @block, image)
        =link_to "x", article_block_image_path(@block.article_id, @block, image.id), method: :delete#, :class => "btn danger"
  %p
    =link_to "Add image", new_article_block_image_path(@article, @block), :class => "btn primary large"

= link_to 'Edit', edit_article_path(@article, @block), :class => :btn
= link_to 'Back', article_path(@article), :class => :btn
