!!!
%html
  %head
    %title Zine
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :names => "apple-mobile-web-app-status-bar-style"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %script{:src => "http://use.typekit.com/oar5tuy.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            =link_to "Magazine", root_path, :class => :brand
            %ul.nav
              %li= link_to "Read", read_path
              %li= link_to "Articles", articles_path
              %li= link_to "Users", users_path
            -if @user
              %ul.nav.pull-right
                %li= link_to @user.login, @user
                %li= link_to "logout", logout_path
            -else
              %ul.nav.pull-right
                %li= link_to "login", login_path
      #content
        -if flash[:notice]
          .alert.alert-info=flash[:notice]
        -if flash[:error]
          .alert.alert-error=flash[:error]
        -if flash[:warning]
          .alert.alert-warning=flash[:warning]
        = yield
