!!!
%html
  %head
    %title Zine
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :names => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    %script{:src => "http://use.typekit.com/oar5tuy.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body
    #read.container
      -if @next
        .navbar.navbar-fixed-bottom
          .navbar-inner
            .container
              =link_to "Magazine", root_path, :class => :brand
              %ul.nav.pull-right
                %li= link_to "#{@next.title} ►", read_article_path(@next.id)
            
        
      -if flash[:notice]
        .alert-message.info=flash[:notice]
      -if flash[:error]
        .alert-message.error=flash[:error]
      -if flash[:warning]
        .alert-message.warning=flash[:warning]
      = yield
      .footer
        %p
          =link_to "Admin", articles_path